.itemPage {
	
	$img-dimension: 55vh;
	
	&__title {
		margin-top: 3vh;
		margin-bottom: 3vh;
		text-align: center;
		text-decoration: underline;
	}

	&__container {
		@include displayData;
		display: flex;
		flex-direction: column;
	}
	
	&__details {
		display: flex;
		flex-direction: row;
		flex-grow: 1;
		@include mobile {
			flex-direction: column;
			padding: 10vh 0;
		}
		align-items: center;
	}

	&__container-img {
		@include flexCenter;
		flex-direction: column;
		width: 50%;	
	}

	&__img-error {
		position: absolute;
		color: red;
		font-size: 1.5rem;
	}

	&__details-img {
		width: $img-dimension;
		height: $img-dimension;
		border-radius: 0.5em;

		&-border {
			@extend .itemPage__details-img;
			position: absolute;
			border: 1px solid #ced4da;
		}
	}

	&__border-animation { // deprecated
		@include borderAnimation($img-dimension, rgba(1, 84, 173, 0.25));
	}

	&__details-text {
		display: flex;
		flex-direction: column;
		text-align: left;
		font-size: 1.5rem;
		width: 50%;
		@include mobile {
			width: 75%;
		}
		padding-left: 3vw;

		&-category {
			margin-top: 5vh;
		}

		&-value {
			margin-left: 9vw;
			margin-top: 2vh;
			flex-shrink: 0;
		}

		&-value-error {
			margin-left: 5vw;
			font-size: 0.9rem;
			color: #dc3545;
		}
	}

	&__rating {
		@include itemRating($img-dimension, $img-dimension, 6vh, -7.5vh);
		border-radius: 0.5em;
	}

	&__range {
		margin-top: 5vh;
	}

	&__button {
		@include button;
		border: 1px solid #aaafb4;
		height: 30px;
		width: 30px;

		&__accept {
			@extend .itemPage__button;

			&:hover {
				color: green;
			}
		}

		&__reject {
			@extend .itemPage__button;
			
			&:hover {
				color: red;
			}
		}
	}

	&__buttons {
		display: flex;
		justify-content: center;
		margin-top: 5vh;
	}

	&__label-image {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
		border-radius: 0.5em;
	}

}