.home {

	&__searchingBar {
		display: flex;
		justify-content: flex-end;
		margin-top: 50px;
	}
	
	&__mainContent {
		@include displayData;
	}

	&__todayTitle {
		display: inline-block;
		transition: transform 1.5s;
		
		&:hover {
			transform: rotate(360deg);
		}
	}

	&__options {
		margin-top: 10vh;
		margin-bottom: 10vh;
	}

	&__item {
		display: flex;
		flex-direction: row;
		margin-top: 20px;

		
		&__title {
			font-size: 2em;
		}

		&__border-animation {
			position: absolute;
			height: 100px;
			width: 100px;
			box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
			border-radius: 0.1rem;
			transition: box-shadow 0.15s;
			z-index: 1;
			
			&:hover {
				box-shadow: 0 0 0 0.4rem rgba(0, 123, 255, 0.25);
			}
		}

		&__details {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			text-align: left;
			box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
			transition: box-shadow 0.15s;
			border-radius: 0.1rem;
			margin-left: 5%;
			flex-grow: 1;
			
			&:hover {
				box-shadow: 0 0 0 0.4rem rgba(0, 123, 255, 0.25);
			}
		}

		&__details-text {
			display: flex;
			flex-direction: column;
			margin-left: 10px;
			margin-top: 5px;
		}
		
		&__details-buttons {
			display: flex;
			align-items: center;
			margin-right: 10px;
			margin-top: 5px;
			height: 90px;
			width: 70px;
		}

		&__button {
			@extend .SVGButton;
			border: 1px solid #aaafb4;
			height: 30px;
			width: 30px;
			
			&:hover {
				box-shadow: 0 0 0 0.15rem rgba(0, 123, 255, 0.25);
			}
		}

		&__rating {
			position: absolute;
			height: 100px;
			width: 100px;
		}
		
		&__rating-triangle {
			position: absolute;
			height: 50px;
			width: 50px;
			left: 50px;
			border-bottom: 25px solid transparent;
			border-left: 25px solid transparent;
		}
		
		&__rating-number {
			position: relative;
			top: -15px;
			color: black;
			font-weight: 600;
			letter-spacing: 1.5px;
		}
	}
}


