.itemPage {
	
	&__container {
		@include displayData;
		display: flex;
		flex-direction: column;
	}
	
	&__details {
		display: flex;
		flex-direction: row;
		flex-grow: 1;
	}

	&__img {
		width: 60vh;
		height: 60vh;
	}

}