@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin button {
	@include flexCenter;
	cursor: pointer;
	transition: all 0.15s;
	border: 1px solid #ced4da;
	border-radius: 0.2rem;
	margin-left: 0.2em;

	&:hover {
		box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
	}
}

@mixin displayData {
	flex-grow: 1;
	margin-left: 10vw;
	margin-right: 10vw;
	text-align: center;
}

@mixin mobile {
	@media (max-width: 800px) {
		@content
	}
}

@mixin itemRating($width, $height, $font-size, $top-number: 0) {
	position: absolute;
	height: $height;
	width: $width;

	&-triangle {
		position: absolute;
		height: $height / 2;
		width: $width / 2;
		left: $width / 2;
		border-bottom: $height / 4 solid transparent;
		border-left: $width / 4 solid transparent;
	}

	&-number {
		position: relative;
		font-weight: 600;
		top: $top-number;
		letter-spacing: 1.5px;
		font-size: $font-size;
	}
}

@mixin borderAnimation($item-img-dimension, $color) {
	position: absolute;
	height: $item-img-dimension;
	width: $item-img-dimension;
	box-shadow: 0 0 0 0.2rem $color;
	border-radius: 0.1rem;
	transition: box-shadow 0.15s;
	
	&:hover {
		box-shadow: 0 0 0 0.4rem $color;
	}
}